json/test-webhook-with-AI.json
{
  "name": "test-webhook-with-AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "req-n8n-fe",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        96
      ],
      "id": "fde78fea-157b-4185-96dd-d02fbbea3b8c",
      "name": "Webhook",
      "webhookId": "db771095-dbcf-43ec-a16b-b9eb1ccae9ce"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        96
      ],
      "id": "1cd1961e-dc6f-4dd4-b9e8-1f6af7315bf0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        304
      ],
      "id": "87086286-35fa-4b8d-8379-5c8b99d781f8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wcKkADhGXBcKcMFC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ],
      "id": "16b4c713-013f-4218-b273-a520ab10cb20",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn {\n  \"output\": $input.first().json.output,\n  \"status\": \"success\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        96
      ],
      "id": "9970bb8a-433d-4271-a1cd-efd30a473871",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        784,
        96
      ],
      "id": "524421dc-9f37-4a24-9df6-24e92ef72b7d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "543f6c5e-a31a-499d-9069-1fcb55f1f645",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfe6a5901818c2dcf1d9cfd870dd35bfa9a4b00c4c813ffea16cd9bd764e6493"
  },
  "id": "snzbPCS6x7EYTrs3",
  "tags": []
}